<h1>New fake_article</h1>

<%= render 'form' %>

<div class="modal new-fake-article-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Generating New Fake Article</h5>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
