<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <% if @fake_news_source&.persisted? %>
      <li class="breadcrumb-item">
        <a href="<%= fake_news_source_path(@fake_news_source) %>">
          <%= @fake_news_source.query %>
        </a>
      </li>
    <% end %>
  </ol>
</nav>
