<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @fake_news_source.query %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @fake_news_source.filepath %>
</p>

<%= link_to 'Back', fake_news_sources_path %>
