<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @fake_tweet.content %>
</p>


<%= link_to 'Edit', edit_fake_news_source_fake_tweet_path(@fake_tweet.fake_news_source, @fake_tweet) %> |
<%= link_to 'Back', fake_news_source_fake_tweets_path(@fake_tweet.fake_news_source) %>
